// Specific CSS for your home-page
.banner {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
  
.row{
  margin-top: 0px;
}
  
.col-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
  
.col-8 {
  background-color: rgb(60, 40, 238);
  border-radius: 3px;
  position: absolute;
  margin-top: -50px;
  padding-top: 8px;
}

body {
  background-image: url('https://images.unsplash.com/photo-1519751138087-5bf79df62d5b?ixid=MXwxMjA3fDB8MHxzZWFyY2h8NDB8fGJhY2tncm91bmQlMjBjb3N5fGVufDB8fDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
  background-position: top;
  background-size: cover;
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}

h3 a {
  padding: 4px;
  margin: 8px;
  color: rgb(187, 35, 35);
  text-shadow: black;
}
  
h3 a:hover {
  transition: 0.5s;
  text-decoration: none;
  color: rgb(53, 108, 211);
}
  
a:hover {
  transition: 0.5s;
  text-decoration: none;
  color: rgb(136, 10, 10);
}
  
form a {
  margin-right: 5px;
}
  
.carousel-inner {
  height: 500px;
}

.carousel-item img {
  height: 483px;
  width: 100%;
  background-image: cover;
  object-fit: cover;
}
  
.d-block {
  background-position: center;
  opacity: 0.9;
}