// Specific CSS for your home-page
.banner {
  height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
  
.row{
  margin-top: 0px;
}
  
.col-4 {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
  
.col-8 {
  background-color: rgb(60, 40, 238);
  border-radius: 3px;
  position: absolute;
  margin-top: -50px;
  padding-top: 8px;
}

body {
  background-color: #F6F9FC;
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


h3 a {
  padding: 4px;
  margin: 8px;
  color: rgb(187, 35, 35);
  text-shadow: black;
}
  
h3 a:hover {
  transition: 0.5s;
  text-decoration: none;
  color: rgb(53, 108, 211);
}
  
a:hover {
  transition: 0.5s;
  text-decoration: none;
}
  
form a {
  margin-right: 5px;
}
