<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to boardgames_path, class: "navbar-brand" do %>
    <%= image_tag "https://pngimage.net/wp-content/uploads/2018/06/gb-png-7.png" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="m-auto flex">
      <form class="form-inline m-auto">
        <input class="form-control mr-sm-2" name="query" type="search" placeholder="Boardgame name" aria-label="Search" value="">
        <button name="button" type="submit" class="btn btn-outline-secondary my-2 my-sm-0 ml-2">
        <i class="fas fa-search"></i> Search
    </button>
        <div class="nav-link">
          <%#=link_to "Start at", "#" %>
          <%#=link_to "End at","#"%>
          <%#= link_to "Category","#",  class: "btn btn-outline-secondary my-2 my-sm-0 ml-2", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%#= link_to "Enfant", "#", class: "dropdown-item" %>
            <%#= link_to "Adulte", "#", class: "dropdown-item" %>
          </div>
        </div>
      </form>
    </div>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <%#= image_tag "https://cdn.imgbin.com/8/20/20/imgbin-samsung-galaxy-a8-a8-user-login-telephone-avatar-pawn-pvE7Qhr6Zk7kLJpGiWZ9FFRVf.jpg", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <i class="far fa-user-circle"></i>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <%= link_to "Log In", user_session_path, class: "dropdown-item" %>
          <%= link_to "My Profile", dashboard_path, class: "dropdown-item" %>
        </div>
      </li>
    </ul>
  </div>
</div>
