<h2>Hello <%= current_user.first_name %>!</h2>

<h3>Your boardgames</h3>
<% current_user.boardgames.each do |boardgame| %>
	<p><%= boardgame.name %></p>
<% end %>

<h3>Your bookings</h3>
<% current_user.bookings.each do |booking| %>
	<%= booking.start_at %>
<% end %>


<h3>Your own bookings</h3>



