<div class="card-tourbillon">

<div class="sp-container">
  <div class="sp-content">
    <div class="sp-globe"></div>
    <h1>🎲GamesBnb🎲</h1>
    <h2 class="frame-1">WELCOME</h2>
    <h2 class="frame-2">TO our Website</h2>
    <h2 class="frame-3">Discover many Boardgames</h2>
  </div>
</div>

  <div class="hoverPad"></div>
  <div class="hoverPad"></div>
  <div class="hoverPad"></div>
  <div class="hoverPad"></div>
  <div class="hoverPad"></div>
  <div class="hoverPad"></div>
  <div class="hoverPad"></div>

  <div class="towerOuter">
    <div class="tower">
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>

    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>

    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>
    <div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div><div class="card"></div>

    <div class="shadow"></div>
  </div>
</div>
</div>

      <div class="container-cards">
          <div class="stream-content">

            <div class="games">
              <h3>Popular <span class="title-highlight">Games</span></h3>
              <div class="games-carousel">
                <div class="game">
                  <div class="game-cover">
                    <img src="https://images.unsplash.com/photo-1556112353-ad4fb98d81e7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=922&q=80" alt="UNO" />
                  </div>
                  <div class="game-info">
                    <p class="game-title">UNO</p>
                    <p class="game-viewership">186K locations</p>
                  </div>
                  <div class="game-categories">
                    <span>Jeu de cartes</span>
                  </div>
                </div>
                <div class="game">
                  <div class="game-cover">
                    <img src="https://spielkultur-hamburg.de/wp-content/uploads/2017/02/7-Wonders-Duel.jpg" alt="7 Wonders" />
                  </div>
                  <div class="game-info">
                    <p class="game-title">7 Wonders: Le Duel</p>
                    <p class="game-viewership">154K lcations</p>
                  </div>
                  <div class="game-categories">
                    <span>Découverte</span>
                    <span>Stratégie</span>
                  </div>
                </div>
                <div class="game">
                  <div class="game-cover">
                    <img src="https://images6.alphacoders.com/424/424115.png" alt="Monopoly" />
                  </div>
                  <div class="game-info">
                    <p class="game-title">Monopoly: Deluxe edition</p>
                    <p class="game-viewership">96K locationss</p>
                  </div>
                  <div class="game-categories">
                    <span>Jeu de table</span>
                    <span>Jeu de dés</span>
                  </div>
                </div>
                <div class="game">
                  <div class="game-cover">
                    <img src="https://th.bing.com/th/id/R8c39b96eb1b65548b123b4477b7b3fb6?rik=tfy4XTCDwgo6lg&riu=http%3a%2f%2fmegagames.com%2fsites%2fdefault%2ffiles%2fgame-images%2fPictionary.jpg&ehk=gOO1SIV2VpDtLfCH15o7NU2taMwJOhFbskzx3jQiqC0%3d&risl=&pid=ImgRaw" alt="Mario Kart 8" />
                  </div>
                  <div class="game-info">
                    <p class="game-title">Pictionnary Ultimate edition</p>
                    <p class="game-viewership">88K locations</p>
                  </div>
                  <div class="game-categories">
                    <span>Dessin</span>
                    <span>Devinettes/Quizz</span>
                  </div>
                </div>
                <div class="game">
                  <div class="game-cover">
                    <img src="https://www.boekhandelpardoes.be/assets/uploads/froggit1.jpg" alt="Froggit" />
                  </div>
                  <div class="game-info">
                    <p class="game-title">Froggit</p>
                    <p class="game-viewership">61K locations</p>
                  </div>
                  <div class="game-categories">
                    <span>Fun</span>
                  </div>
                </div>
              </div>
            </div>

            <div class="divider">
              <div class="bar"></div>
              <div class="show-more">
                Show more <i class="fa fa-chevron-down"></i>
              </div>
              <div class="bar"></div>   
            </div>

          </div>
        </div>
      </div>
</div>

