.card-index {
	background-color: white;
	border-radius: 14px;
	box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.7);
  margin-bottom: 15px;
  margin-left: 20px;
  margin-bottom: 15px;
	transition: all ease 0.4s;
	cursor: pointer;
	overflow: hidden;
	opacity: 0.95;
	&:hover {
    box-shadow: 7px 7px 8px rgba(0, 0, 0, 0.7);
		opacity: 1.5;
		.players {
			box-shadow: 3px 3px 3px rgba(0, 0, 0, 1);
		}
	}
}

.description {
	width: 100%;
  position: relative;
  padding: 10px;
  .description-content {
  	padding-left: 18px;
  }
  .description-category {
    padding-left: 18px;
    font-weight: bold;
    margin-top: 5px;
  }
}

.players {
  position: absolute;
  border-radius: 50%;
  padding: 12px 8px;
  bottom: 98px;
  right: 9px;
  background-color: white;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5);
  transition: all ease 0.4s;
}

.price {
  position: absolute;
  bottom: 14px;
  right: 14px;
}

