@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700;900&display=swap');

// .main-container-index {
//   background-color: #F6F9FC;
// }

.index-title {
  margin: 30px 0 40px 7px;
  font-family: 'Roboto', sans-serif;
  font-size: 21px;
}

.cards-index {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

.card-index {
  font-family: 'Roboto', sans-serif;
  color: black;
	background-color: white;
	border-radius: 8px;
	box-shadow: 3px 3px 30px rgba(0, 0, 0, 0.2);
  margin-bottom: 15px;
	transition: all ease 0.3s;
	cursor: pointer;
	overflow: hidden;
  width: 332px;
  height: 362px;
  h4 {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
  }
	&:hover {
    box-shadow: 4px 6px 30px rgba(0, 0, 0, 0.4);
		opacity: 1.5;
	}
}

.description {
  height: 33%;
  margin: 16px 24px 0px 24px;
  position: relative;
  .description-category {
    color: #868686;
    font-weight: 500;
    font-size: 13px;
  }
}

.players {
  font-size: 15px;
  position: absolute;
  bottom: 28px;
  right: 253px;
  background-color: white;
  transition: all ease 0.4s;
}

.price {
  border-radius: 8px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  position: absolute;
  font-size: 16px;
  right: -13px;
  bottom: 21px;
  background-color: #337AB7;
  padding: 4px 11px;
  color: white;
  opacity: 0.8;
}

.highlight {
    box-shadow: 4px 6px 30px rgba(0, 0, 0, 0.4);
    opacity: 1.5;
  }

