.mapboxgl-popup {
  max-width: 200px;
  height: 115px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}