.mapboxgl-popup {
  // width: 350px;
  // min-width: 350px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  padding: 0px !important;
  border-radius: 14px !important;
  overflow: hidden;
  // width: 350px;
  height: 80px;
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}

// .mapbox-popup-container {
//   width: 350px;
//   height: 80px;
// }