.navbar-lewagon {
  justify-content: space-between;
  background: #0A2540;
  color:white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.m-auto {
  padding-right: 250px;
}

.nav-link {
  color: gray;
}
.nav-link {
  color: white;
}

.avatar {
  width: 50px;
  border-radius: 50%;
}

