<div class="mapbox-popup-container d-flex">
	<%= cl_image_tag boardgame.photos.first.key, crop: :fill, width: 85, height: 85 %>
	<div class="ml-2">
		<h4><%= link_to boardgame.name, boardgame_path(boardgame) %></h4>
		<p><%= boardgame.address %></p>
	</div>
</div>
